<header class="header">
  <nav class="nav">
    <h1 class="logo">QuizzApp</h1>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/quizzes">Quizzes</a></li>
      <li>
        <button (click)="logout()" class="logout-button">Logout</button>
      </li>
    </ul>
  </nav>
</header>

<h3 class="quiz-title">Questions for Quiz {{ quizzId }}:</h3>
<form (ngSubmit)="submitQuiz()" class="quiz-form">
    <ul class="question-list">
      <li *ngFor="let question of questions; let i = index" class="question-item">
        <h4 class="question-text">{{ question.questionText }}</h4>
        <ul class="answer-list">
          <li class="answer-item" *ngFor="let answer of question.answers">
            <label>
              <input 
                type="radio" 
                name="answer-{{ i }}" 
                [(ngModel)]="selectedAnswers[i]" 
                [value]="answer.id" 
                required>
              {{ answer.answerText }}
            </label>
          </li>
        </ul>
      </li>
    </ul>
  
    <button type="submit" class="submit-button">Submit Quiz</button>
</form>
